<div id="map"></div>
<%= hidden_field_tag 'lat', @trip.checkins[0][:lat]  %> # hidden field holding the latitude information
<%= hidden_field_tag 'lng', @trip.checkins[0][:lng]  %># hidden field holding the longitude information
